.content{
    /* padding-bottom: 1rem; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'infoText'
        'chatWindow'
        'sendArea';
}
#chatInfo{
    grid-area: infoText;
    background-color: black;
    padding: 0 1rem;
}

#chatWindow{
    grid-area: chatWindow;
    height: 100%;
    background-color: black;
    padding: 0 1rem;
}

.time{
    /* opacity: 0.75; */
    font-stretch: 80%;
    font-weight: 500;
}

#messageForm{
    display: flex;
}
#usrmsg{
    flex-grow: 1;
    font-size: 1.2rem;
}
input[type="submit"]{
    font-size: 1.25rem;
    font-weight: 200;
}