/* Content in the chat is also a Grid */
body{
    grid-template-rows: 5rem calc(100% - (5rem + 3rem)) 3rem;
}
main{
    height: 100%;
    /* padding-bottom: 1rem; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem calc(100% - (3rem + 2.5rem)) 2.5rem;
    grid-template-areas:
        'infoText'
        'chatWindow'
        'sendArea';
}

/* Where the participant list is among other things (Will also be expanded) */
#chatInfo{
    grid-area: infoText;
    background-color: black;
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Acctual window the messages appear in */
#chatWindow{
    grid-area: chatWindow;
    height: 100%;
    background-color: black;
    padding: 0 1rem;
    overflow-y: scroll;
    line-break: anywhere;
}
#connectionInfo{
    font-weight: bolder;
    color: lightgray;
    background-color: rgb(55, 55, 75);
    padding: 0.25rem;
    margin: 0;
}
/* Message styling (Will most likely expand in the future) */
.time{
    font-stretch: 80%;
    font-weight: 500;
}

/* New message form */
#messageForm{
    display: flex;
}
#usrmsg{
    flex-grow: 1;
    font-size: 1.2rem;
}
input[type="submit"]{
    font-size: 1.25rem;
    font-weight: 200;
}

@media (orientation: portrait) {
    main{padding: 0;}
}